/* 
 * Trestle admin styles
 *
 * @since 1.0.0
 *
 * @package Trestle
 */

.trestle-layout img {
	margin-right: 10px;
	border: 4px solid transparent;
	cursor: pointer;
}

.trestle-layout img:hover {
	border-color: #EEE;
}

.trestle-layout img.checked {
	border-color: #CCC;
}

/* Columns
--------------------------------------------- */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds,
.footer-widgets .widget-area {
	float: left;
	margin: 0;
	width: 100%;
}


/* Media Queries
--------------------------------------------- */
@media (min-width: 768px) {

	/* Columns
	--------------------------------------------- */

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds,
	.footer-widgets .widget-area {
		margin-left: 2.564102564102564%;
	}

	.one-half,
	.three-sixths,
	.two-fourths,
	.footer-widgets-number-2 .footer-widgets .widget-area {
		width: 48.717948717948715%;
	}

	.one-third,
	.two-sixths,
	.sidebar-primary,
	.title-area,
	.footer-widgets-number-3 .footer-widgets .widget-area  {
		width: 31.623931623931625%;
	}

	.four-sixths,
	.two-thirds,
	.content {
		width: 65.81196581196582%;
	}

	.one-fourth,
	.footer-widgets-number-4 .footer-widgets .widget-area {
		width: 23.076923076923077%;
	}

	.three-fourths {
		width: 74.35897435897436%;
	}

	.one-fifth,
	.footer-widgets-number-5 .footer-widgets .widget-area {
		width: 17.948717949%;
	}

	.one-sixth,
	.footer-widgets-number-6 .footer-widgets .widget-area {
		width: 14.52991452991453%;
	}

	.five-sixths {
		width: 82.90598290598291%;
	}
	
	.first,
	.footer-widgets .footer-widgets-1 {
		clear: both;
		margin-left: 0;
	}

	/* Lists inside columns (to remove bottom margin as needed at mobile sizes */
	.no-list-margin ul,
	.no-list-margin ol {
		margin-bottom: 26px;
		margin-bottom: 2.6rem;
	}

}